body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:140px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u386 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u387_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u387 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u388 {
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u389_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:28px;
  color:#999999;
  text-align:center;
}
#u389 {
  position:absolute;
  left:15px;
  top:138px;
  width:113px;
  height:34px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:28px;
  color:#999999;
  text-align:center;
}
#u390 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
