body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:60px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u335_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:55px;
}
#u335 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:55px;
}
#u336 {
  position:absolute;
  left:2px;
  top:20px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
