body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:480px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u242 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(139, 156, 172, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u243 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:200px;
  font-size:20px;
}
#u244 {
  position:absolute;
  left:2px;
  top:92px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:164px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:22px;
  color:#BFCDDA;
}
#u245 {
  position:absolute;
  left:20px;
  top:16px;
  width:440px;
  height:164px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:22px;
  color:#BFCDDA;
}
#u246 {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  word-wrap:break-word;
}
