body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:60px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u339_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u339 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u340 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
