body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:544px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u206 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u207 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u208 {
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:70px;
}
#u209 {
  position:absolute;
  left:2px;
  top:27px;
  width:540px;
  visibility:hidden;
  word-wrap:break-word;
}
#u210_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
}
#u210 {
  position:absolute;
  left:21px;
  top:19px;
  width:97px;
  height:29px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
}
#u211 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
  color:#949494;
}
#u212 {
  position:absolute;
  left:425px;
  top:19px;
  width:49px;
  height:29px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
  color:#949494;
}
#u213 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:32px;
}
#u214 {
  position:absolute;
  left:484px;
  top:17px;
  width:35px;
  height:32px;
}
#u215 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
