body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:270px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:160px;
}
#u226 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:160px;
}
#u227 {
  position:absolute;
  left:2px;
  top:72px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
