body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:61px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:57px;
}
#u331 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:57px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u332 {
  position:absolute;
  left:2px;
  top:20px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
